@{
    ViewBag.Title = "About";
}
@model FirstDatabaseProject.ViewModels.HomeAboutViewModel
<h3>@Model.nameAuthor</h3>
<h3>@Model.Money</h3>
<ul>
    @foreach(var blog in Blog)
</ul>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
